body {
    margin: 0;
    padding: 0;
}
#main {
    display: grid;
    grid-template-rows: 100px auto;
}
#header-row {
    background: linear-gradient(0deg,#141414,#323232);
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-main {
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 30px 0 30px;
    border-radius: 1em;
    background: whitesmoke;
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #323232;
}
.h-side {
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 30px 0 30px;
    border-radius: 1em;
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}
.h-side:hover {
    animation-name: h-button;
    animation-duration: 400ms;
    animation-fill-mode: forwards;   
}
@keyframes h-button {
    100% {
        color: #323232;
        background: whitesmoke;
    }
}
#body-row {
    padding: 0;
    position: absolute;
    top: 100px;
    bottom: 0px;
    width: 100%;
    background-image: linear-gradient(90deg,rgba(67,206,162,0.7),rgba(24,90,157,0.7)), url("dance.jpg");
    background-size: cover;
}
#sajat-quote {
    margin-top: 120px;
    margin-left: 100px;
    color: whitesmoke;
    font-size: 46px;
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    text-decoration: none;
}
#body-music {
    position: absolute;
    top: 100px;
    bottom: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-image: linear-gradient(90deg,rgba(67,206,162,0.7),rgba(24,90,157,0.7)), url("mira.jpg");
    background-size: cover;
    background-position-y: center;
}
.playlist-left {
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
}
.playlist-left h4 {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    color: whitesmoke;
    letter-spacing: 5px;
    font-family: 'Arial',sans-serif;
    font-weight: normal;
    text-align: left;
}
.playlist-left a {
    padding: 20px 20px 20px 40px;
    letter-spacing: 2px;
    font-family: 'Arial',sans-serif;
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
}
#m-main {
    background: whitesmoke;
    color: #141414;
    font-weight: bold;
}
#m-side:hover {
    animation-name: m-button;
    animation-duration: 400ms;
    animation-fill-mode: forwards;   
}
@keyframes m-button {
    100% {
        color: #141414;
        background: whitesmoke;
        font-weight: bold;
    }
}
#mira-quote {
    margin-top: 150px;
    margin-left: 100px;
    letter-spacing: 2px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 70px;
    text-decoration: none;
    color: whitesmoke;
}
#playlist-right {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #141414;
}
#playlist-right h3 {
    margin-left: 100px;
    letter-spacing: 2px;
    font-family: 'Arial',sans-serif;
    font-weight: normal;
    color: whitesmoke;
}
#song, #label {
    padding: 10px 0 10px 50px;
    max-height: 20px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr 1fr;
    letter-spacing: 2px;
    font-family: 'Arial',sans-serif;
    font-weight: normal;
    color: whitesmoke;
}
#link {
    font-family: 'Arial',sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: whitesmoke;
}
#link:hover {
    animation-name: l-button;
    animation-duration: 400ms;
    animation-fill-mode: forwards;   
}
@keyframes l-button {
    100% {
        color: white;
        font-weight: bold;
    }
}